:root {
	--PLUGIN_ABBR-modal-background-color: #ffffff;

	--PLUGIN_ABBR-progress-circle-current-color: rgba(0, 124, 186);
	--PLUGIN_ABBR-progress-circle-complete-color: rgba(0, 124, 186, 0.3);
	--PLUGIN_ABBR-progress-circle-unfinished-color: #ffffff;

	--PLUGIN_ABBR-dimensions-piece-number-color: #999999;

	--PLUGIN_ABBR-animated-svg-checkmark-curve: cubic-bezier( 0.650, 0.000, 0.450, 1.000 );
	--PLUGIN_ABBR-animated-svg-checkmark-color: #4CAF50;
}